@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

@import './wrapper.css';
@import './products.css';
@import './user__information.css';
@import './btn.css';
@import './footer.css';

:root {
  --orange: #F2994A;
  --lightGray: #F2F2F2;
  --gray: #E0E0E0;
  --darkGray: #828282;
  --veryDarkGray: #4E5150;
  --black: #333333;
  --white: #fff;
  --borderGray: #BDBDBD;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

select {
  appearance: none;
}

.page__title {
  grid-area: title;
  margin-bottom: 1.3125rem;
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .page__title {
    grid-area: title;
    font-size: 2rem;
  }
}